/* App */
.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.workspace {
  display: flex;
  flex-direction: row;
  height: 94%;
  width: 100%;
  background-color: #f0f0f0;
}

.canvas {
  width: 90%;
  background-color: white;
  border: 2px solid black;
  overflow: auto;
  aspect-ratio: 16/9;
  max-height: 100%;
}

.canvasContainer {
  width: 100%;
  height: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Topbar */

.topbar {
  background-color: #31363f;
  border-bottom: 1px solid #526d82;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
}

.topbar-logo {
  margin: 6px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.topbar-logo:hover {
  border-bottom: 2px solid white;
}

.topbar-logo:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.modeTitle {
  color: white;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 5px;
}

/* Properties */

.properties {
  height: 100%;
  min-width: 240px;
  max-width: 240px;
  background-color: #31363f;
  display: flex;
  flex-direction: column;
}

.propertiesTitle {
  font-size: 16px;
  font-weight: bold;
}

.propertiesTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.propertiesButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid rgb(211, 67, 67);
  font-size: 16px;
  font-weight: bold;
  color: rgb(211, 67, 67);
}

.propertiesButton:hover {
  background: rgb(211, 67, 67);
  color: white;
}

.propertiesTab {
  height: 100px;
  width: 30px;
  margin: 10px 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #31363f;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.propertiesTab:hover {
  background-color: #606774;
}

.propertiesTabTitle {
  font-size: 16px;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.sectionTitle {
  font-weight: bold;
  margin-bottom: 0px;
}

.propertiesContentContainer {
  padding: 16px;
  overflow: auto;
  margin-bottom: 32px;
}

.slideContainer {
  display: flex;
}

.sectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.colorInput {
  -webkit-appearance: none;
  width: 45%;
  height: 20px;
  border-radius: 5px;
  background: #d3d3d3;
  text-align: center;
  color: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 4px;
}

/* Toolbar */

.toolbar-container {
  height: 100%;
  min-width: 6%;
  max-width: 12%;
  position: relative;
}

.toolbar {
  height: 100%;
  width: 100%;
  background-color: #31363f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}

.toolbarButton {
  width: 80%;
  max-width: 100px;
  position: relative;
  cursor: pointer;
  aspect-ratio: 1;
  overflow: hidden;
  margin-top: 10px;
}


.toolbarButton:hover {
  opacity: 0.8;
}

.toolbarButtonImage {
  object-fit: cover;
  width: 100%;
}

.toolbarSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.lineButtonTitle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  font-weight: bold;
  font-size: 10px;
}

.rectangleButtonTitle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  font-weight: bold;
  font-size: 10px;
}

.squareButtonTitle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  font-weight: bold;
  font-size: 10px;
}

.polygonButtonTitle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  font-weight: bold;
  font-size: 10px;
}

.input-color {
  width: 100%;
}

/* Button */

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 4em;
  gap: 12px;
  width: 100%;
}

.saveButton{
  border-radius: 12px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f0f0f0;
}

.saveButton:hover {
  background-color: #afafaf;
}

input[type="file"] {
  display: none;
}

.inputButton{
  border-radius: 12px;
  padding: 6px 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f0f0f0;
  color: black;
}

.inputButton:hover {
  background-color: #afafaf;
}

.animateButton{
  border-radius: 12px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f0f0f0;
}

.animateButton:hover {
  background-color: #afafaf;
}

